<div class="product-form" *ngIf="productForm">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field appearance="fill">
      <mat-label>Title </mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="this.productForm.invalid">{{
        getErrorMessage("title")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Category </mat-label>
      <input matInput formControlName="category" />
      <mat-error *ngIf="this.productForm.invalid">{{
        getErrorMessage("category")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Id </mat-label>
      <input matInput formControlName="id" />
      <mat-error *ngIf="this.productForm.invalid">{{
        getErrorMessage("id")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description </mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="this.productForm.invalid">{{
        getErrorMessage("description")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label type="number">Price</mat-label>
      <input matInput formControlName="price" />
      <mat-error *ngIf="this.productForm.invalid">{{
        getErrorMessage("price")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput formControlName="image" />
      <mat-error *ngIf="this.productForm.invalid">{{
        getErrorMessage("image")
      }}</mat-error>
    </mat-form-field>
    <div formGroupName="rating">
      <mat-form-field appearance="fill">
        <mat-label>Rate</mat-label>
        <input matInput id="rate" type="text" formControlName="rate" />
        <mat-error *ngIf="this.productForm.invalid">{{
          getErrorMessage("rate")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Count</mat-label>
        <input matInput id="count" type="text" formControlName="count" />
      </mat-form-field>
    </div>
    <button type="submit" [disabled]="!productForm.valid">Submit</button>
  </form>
</div>
